body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;/*propiedad que hace que el fondo siempre sea statico aunque se haga scroll*/
}

.logo_container{
    background: #1f87c4;    
}

.menu_container > ul > li > a:hover{
    background-color: #1f87c4;
}

.sidebar_container > div > h4 {
    background: #1f87c4;  
}

.menu_container{
    background: #1f87c4;         
}